.left-col {
  margin: 10px 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0px 0px 10px #ccc inset;
  width: 300px;
  position: fixed;
  opacity: 1;
  transition: all 0.2s ease-in;
  height: calc(100% - 20px);
  z-index: 999;
  &.show {
    box-shadow: 0px 0px 10px #ccc inset;
  }
  .overlay {
    width: 100%;
    height: 180px;
    position: absolute;
  }

  .intrude-less {
    width: 76%;
    height: calc(100% - 112px);
    text-align: center;
    margin: 112px auto 0;

    #header {
      width: 100%;
      height: 100%;
      position: relative;
      border-bottom: 1px solid color-border;

      .switch-btn {
        max-height: calc(100% - 244px);
        overflow-y: auto;
        .motto {
          margin-top: 58px;
          font-size: 20px;
          font-weight: 700;
          background-image: -webkit-linear-gradient(
            right,
            #41c7af,
            #c4e759 10%,
            #f47920 20%,
            #f7acbc 30%,
            #ffd400 40%,
            #41c7af 50%,
            #c4e759 60%,
            #f47920 70%,
            #f7acbc 80%,
            #ffd400 90%,
            #41c7af
          );
          color: transparent;
          /*文字填充色为透明*/
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          /*背景剪裁为文字，只将文字显示为背景*/
          background-size: 200% 100%;
          /*背景图片向水平方向扩大一倍，这样background-position才有移动与变化的空间*/
          /* 动画 */
          animation: masked-animation 5s infinite linear;
          & :first-child {
            margin-bottom: 10px;
          }
        }

        .home {
          display: flex;
          justify-content: center;
          align-items: center;

          .homeIcon {
            width: 45px;
            height: 45px;
            background: url(../css/img/home.png) no-repeat;
            background-size: 45px 45px;
            cursor: pointer;
          }
        }

        .tips-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          display: none;

          &::before {
            content: "";
            width: 0;
            height: 0;
            border: 10px solid;
            border-color: transparent transparent #595757;
          }

          .tips-text {
            width: 60%;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            background-color: #252525;
            font-size: 14px;

            .tips-a {
              color: hsla(0, 0%, 88%, 0.6);
              font-weight: 700;
            }

            &:first-child {
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;
              box-shadow: 0px 0px 5px #ccc inset;
              position: relative;
              z-index: 5;
            }

            &:nth-child(2) {
              box-shadow: 0px 0px 5px #ccc inset;
              margin-top: -1px;
            }

            &:last-child {
              border-bottom-left-radius: 6px;
              border-bottom-right-radius: 6px;
              box-shadow: 0px 0px 5px #ccc inset;
              margin-top: -1px;
            }

            &:not(:first-child, :last-child) {
              border-left: 1px solid #212121;
              border-right: 1px solid #212121;
            }

            // border-radius: 6px;

            a {
              display: inline-block;
              width: 100%;
              height: 100%;
            }

            &:hover {
              background-color: #959595;
              color: rgb(255, 217, 0);
            }
          }
        }

        .tip-show {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      a {
        &:hover {
          color: rgb(255, 217, 0);
        }
      }
      .header-subtitle {
        text-align: center;
        color: #999;
        font-size: 14px;
        line-height: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .header-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        font-weight: 700;
        line-height: 35px;
        text-transform: uppercase;

        .menu-text {
          width: 60%;
          margin-bottom: 10px;
          border-radius: 8px;
          box-shadow: 0px 0px 6px #ccc inset;

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            color: rgba(225, 225, 225, 0.6);
            border-radius: 8px;

            &:hover {
              background-color: rgba(225, 225, 225, 0.6);
              color: rgb(255, 217, 0);
            }
          }
        }
      }
      .header-smart-menu {
        font-size: 12px;
        margin-bottom: 20px;
        a {
          &:after {
            content: "/";
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }

      @keyframes turnY {
        0% {
          transform: rotateY(0deg);
        }
        100% {
          transform: rotateY(360deg);
        }
      }

      .profilepic {
        text-align: center;
        display: block;
        border: 5px solid #fff8d6;
        box-shadow: 0px 0px 20px #ccc;
        border-radius: 300px;
        width: 128px;
        height: 128px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        background: #88acdb;
        -webkit-transition: all 0.2s ease-in;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        text-align: center;
        &:hover {
          animation-name: turnY;
          animation-duration: 3s;
          animation-iteration-count: 1;
        }
        img {
          border-radius: 300px;
          opacity: 1;
          -webkit-transition: all 0.2s ease-in;
          &.show {
            width: 100%;
            height: 100%;
            opacity: 1;
          }
        }
      }
      .header-author {
        text-align: center;
        margin: 0.67em 0;
        font-family: Roboto, "Roboto", serif;
        font-size: 35px;
        transition: 0.3s;
        font-weight: 700;
        a {
          color: #ffec8b;
          text-shadow: -1px -1px 0 #ffec8b, 1px 1px 0 #ccc, 1px 1px 0 #ccc;

          &:hover {
            color: rgb(255, 208, 0);
          }
        }
      }
    }
  }

  .social {
    .icon-wrap {
      width: 35px;
      height: 35px;
      border-radius: 35px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0px;
      }

      .github {
        background: url(./img/github.png) no-repeat;
        background-color: #fff;
        background-size: 100% 100%;
      }
      .juejin {
        background: url(./img/juejin.png) no-repeat;
        background-color: #007fff;
        background-size: 100% 100%;
      }
      .zhihu {
        background: url(./img/zhihu.png) no-repeat;
        background-color: #fff;
        background-size: 100% 100%;
      }
    }
  }
}

// 白天模式
// .left-col {
//   background-color: #fff;
// }
