.lightBtnctn {
  background-color: #dedede;
}
.lightIntrudeLess {
  .inner {
    .atthorName {
      h1 {
        color: #000 !important;
      }
    }
    .header-menu {
      ul {
        background-color: #c9c9c9 !important;
        li {
          a {
            background-color: #cfcfcf;
            box-shadow: none !important;
            &.active {
              color: #333 !important;
              background-color: #dedede;
            }
          }
        }
      }
    }
  }
}
.toc-container {
  background-color: transparent;
  box-shadow: none !important;
}
