.music {
  position: absolute;

  .aplayer.aplayer-fixed {
    max-width: 261px;
    left: 20px;
    bottom: 20px;

    .aplayer-lrc {
      max-width: 280px;
      bottom: 90px;
      left: 19px;
      z-index: 0;
      opacity: 0;
      transition: all 0.5s ease;
    }

    .hideLrc {
      opacity: 1;
      transition: all 0.5s ease;
    }

    .aplayer-list {
      position: relative;
      border: none;
      max-height: 261px;
      background-color: #333;
      z-index: 88;
      ol {
        li {
          color: #c9c9c9;
        }
        li.aplayer-list-light {
          background: #888;
          color: gold;
        }
        li:hover {
          background: #666;
        }
      }
    }

    .aplayer-body {
      max-width: 261px;
      left: 20px;
      bottom: 22px;
      border-radius: 10px;
      left: -55px;
      visibility: hidden;
      transition: all 0.3s ease;

      .aplayer-miniswitcher {
        visibility: visible;
      }

      .aplayer-pic {
        // border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        visibility: hidden;
        transition: all 0.3s ease;
      }

      .aplayer-music {
        color: #666;
      }
    }

    .showBody {
      visibility: visible;
      left: 20px;
      transition: all 0.3s ease;
      .aplayer-pic {
        visibility: visible;
        transition: all 0.3s ease;
      }
    }
  }

  .aplayer {
    background: transparent;
    display: block;

    .aplayer-miniswitcher {
      border-top-right-radius: 10px;
      // border-bottom-right-radius: 10px;
    }
  }
}
